<%- include('head'); %>

<body>
    <div class="l-nav">
        <%- include('nav', {navList: nav}); %>
    </div>
    <div class="r-box">
        <div class="article-list">
        <div class="article-list-categories"><span><%=categories %></span></div>
         <ul>
            <% for(let i=0;i< list.length;i++){ %>
                <li>
                

                    
                        <% if(i%2==1){ %>
                            <img src='../static/img/blue-flower.png'/>
                            <% }else{ %>
                            <img src='../static/img/pink-flower.png'/>
                            <% } %>
                        <a href="<%= list[i].filePath+'?index='+list[i].index %>" class="title"><%=list[i].title %></a>
                        <div>
                            <span><%=list[i].date %></span>
                            <span><%=list[i].categories %></span>
                        </div>

                </li>
            <%}%>
        </ul>
     </div>
    </div>
   
</body>
</html>