<%- include('head'); %>

    <div class="l-nav">
        <%- include('nav', {navList: nav, categories: categories}); %>
    </div>
    <div class="r-box">
        <div class="article">
            <h1 class="title"><%=title %></h1>            
            <p>I belong to : <%=categories %></p>
            <hr/>
            <%- html %>
        </div>
    </div>
    
<%- include('foot'); %>